<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDV-cIqYkhdc3l5fj4ujHGBpEoxzZ8TFsE</string>
	<key>GCM_SENDER_ID</key>
	<string>30564555989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srisawad.morningkhmer</string>
	<key>PROJECT_ID</key>
	<string>arunsawad-khmer-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>arunsawad-khmer-uat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30564555989:ios:bf8c0c36376b583ccf565c</string>
</dict>
</plist>